


<div class="ui top attached menu">
    <!-- <a href="" class="right floated item">
        <i class="cog icon"></i>
        Item
    </a> -->

    <div class="ui dropdown icon item">
        <i class="wrench icon"></i>
        <!-- <div class="text">Settings</div> -->
        <div class="menu">
            <div class="item">
                SomeItem
            </div>
        </div>
    </div>
</div>

<div class="ui bottom attached segment">
    <div style="text-align: center">
        <div class="ui icon header">
            <i class="file alternate outline icon"></i>
            <div class="content">Results</div>
        </div>
    </div>
    
    <div class="ui dividing header">
        <div class="content">Sample Details</div>
    </div>

    <div class="ui grid">
        <div class="three column row">
            <div class="column">
                <label for="">Code: </label>
                <span>SA-01-30</span>
            </div>
            <div class="column">
                <label for="">Location: </label>
                <span>Salmyia</span>
            </div>
            <div class="column">
                <span>Received Date: </span>
                <span>2018-06-25</span>
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <label for="">Sampling Point: </label>
                <span>SA-01-30</span>
            </div>
            <div class="column">
                <label for="">Sampling By: </label>
                <span>Customer</span>
            </div>
            <div class="column">
                <span>Matrix: </span>
                <span>Soil</span>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <span>Remarks: </span>
                <span>No Remarks to add</span>
            </div>
        </div>
    </div>

    <!-- <div class="ui horizontal divider header">
        Something
    </div> -->

    <div class="ui divider"></div>

    <div class="ui dividing header">
        <div class="content">Test Parameter Results</div>
    </div>

    <table class="ui compact celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Method</th>
                <th class="one column wide">Revision</th>
                <th class="one column wide">Unit</th>
                <th class="one column wide">Result</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Test Parameter 1</td>
                <td>TR-01-30</td>
                <td>Method 1</td>
                <td>2</td>
                <td>l\s</td>
                <td>9.5</td>
                <td class="collapsing">
                    <button class="ui basic small icon button" data-tooltip="Add Result Revision">
                        <i class="edit icon"></i>
                    </button>
                    <button class="ui basic small icon button" data-tooltip="Show Result Revisions">
                        <i class="file alternate outline icon"></i>
                    </button>
                </td>
            </tr>

            <tr>
                <td>Test Parameter 2</td>
                <td>TR-01-30</td>
                <td>Method 1</td>
                <td>1</td>
                <td>l\s</td>
                <td>2</td>
                <td class="collapsing">
                    <button class="ui basic small icon button" data-tooltip="Add Result Revision">
                        <i class="edit icon"></i>
                    </button>
                    <button class="ui basic small icon button" data-tooltip="Show Result Revisions">
                        <i class="file alternate outline icon"></i>
                    </button>
                </td>
            </tr>

            <tr>
                <td>Test Parameter 3</td>
                <td>TR-01-30</td>
                <td>Method 1</td>
                <td>1</td>
                <td>l\s</td>
                <td>5</td>
                <td class="collapsing">
                    <button class="ui basic small icon button" data-tooltip="Add Result Revision">
                        <i class="edit icon"></i>
                    </button>
                    <button class="ui basic small icon button" data-tooltip="Show Result Revisions">
                        <i class="file alternate outline icon"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>